*{
    /* Seletor global */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    :root {
        --cor-texto: white;
        --plano-de-fundo: url(../assets/bg-desktop.jpg);
        --cor-da-borda: rgba(255,255,255,0.5);
        --cor-do-botao: rgba(255,255,255,0.05;);
        --cor-do-botao-hover: rgba(0,0,0,0.02);
        --cor-da-borda-links: rgba(255,255,255,0.2);
        --troca-plano-de-fundo: url(../assets/moon-stars.svg);
    }

  .light {
    --cor-texto: black;
        --plano-de-fundo: url(../assets/bg-desktop-light.jpg);
        --cor-da-borda: rgba(0,0,0,0.5);
        --cor-do-botao: rgba(0,0,0,0.05);
        --cor-do-botao-hover: rgba(0,0,0,0.1);
        --cor-da-borda-links: rgba(0,0,0,0.1);
        --troca-plano-de-fundo: url(../assets/sun.svg);


  } 

body *{ color: var(--cor-texto);
    font-family: 'Inter Tight', sans-serif;
}

body{
    background: var(--plano-de-fundo) no-repeat top center/cover;
    height: 100vh;
}

#perfil img{

    height: 180px;
}

#perfil {

    margin-bottom: 16px;
}

#container{

    text-align: center;
     border: 1px;
    margin:56px auto 0;
    width: 100%;
    max-width: 588px;
}
#troca {
    position: relative;
    width: 64px;
    height: 24px;
    border: 1px solid var(--cor-da-borda);
    background:  var(--cor-do-botao);
    border-radius: 50px;
    margin: 24px auto;
   


}
#troca button {
    position: absolute;
   width: 32px;
   height: 32px;
   border-radius: 50px;
   border: 0;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   background:  white var(--troca-plano-de-fundo) no-repeat center;
  
}
.light #troca button {
  left: 50%;
}
#troca button:hover {
outline: 8px solid var(--cor-da-borda-links);

}
ul {
list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    text-decoration: none;
    background: var(--cor-do-botao);
    border: 1px solid var(--cor-da-borda);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 16px;
    margin: 0 20px;
}
ul li a:hover {

    border: 1.5px solid var(--cor-da-borda);
    background: var(--cor-do-botao-hover);
}
#linksSocial {

    display: flex;
    justify-content: center;
}
#linksSocial a{

    font-size: 24px;
    display: flex;
    border-radius: 50%;
    padding: 16px;
}

#linksSocial a:hover {
    background: var(--cor-da-borda-links);
}
@media (max-width:700px){
    :root{
        --plano-de-fundo: url(../assets/bg-mobile.jpg);
    }
    .light{
        --plano-de-fundo: url(../assets/bg-mobile-light.jpg);
    }
}


